// what should I do button
.action__button {
  background: #040048;
  color: aliceblue;
  border: none;
  width: 100%;
  font-size: $l-size;
  font-weight: bold;
  border-bottom: 5px solid darken(#040048, 10%);
  padding: $m-size;
  margin-bottom: $l-size;
}

// Add Option button
.add-button {
  background: #040048;
  color: aliceblue;
  border: none;
  font-size: $m-size;
  font-weight: bold;
  margin: 0;
  height: $xl-size;
  border-bottom: 5px solid darken(#040048, 10%);
}

// Remove all and remove buttons
.button--link {
  background: none;
  border: none;
  width: 160px;
  padding: 0;
  margin: 0;
  color: darken(aliceblue, 10%);
  font-size: $m-size;
}

.model--button {
  height: $l-size;
  padding: 0 10px;
}